# Node Backend Settings
PORT=5000
JWT_SECRET=super_secret_contract_key_2026
AI_SERVICE_URL=http://localhost:8000

# PostgreSQL Settings
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/contract_analyzer

# AI Service Settings
OLLAMA_URL=http://localhost:11434
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
